[submodule "libstmm-input/googletest"]
	path = libstmm-input/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-base/googletest"]
	path = libstmm-input-base/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-dl/googletest"]
	path = libstmm-input-dl/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-ev/googletest"]
	path = libstmm-input-ev/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-fake/googletest"]
	path = libstmm-input-fake/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-gtk/googletest"]
	path = libstmm-input-gtk/googletest
	url = https://github.com/google/googletest.git
[submodule "libstmm-input-gtk-dm/googletest"]
	path = libstmm-input-gtk-dm/googletest
	url = https://github.com/google/googletest.git
