[submodule "googletest_stmm-input"]
	path = libstmm-input/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest_stmm-input-base"]
	path = libstmm-input-base/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest_stmm-input-ev"]
	path = libstmm-input-ev/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest_stmm-input-fake"]
	path = libstmm-input-fake/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest_stmm-input-gtk"]
	path = libstmm-input-gtk/googletest
	url = https://github.com/google/googletest.git
